<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        ul {
            list-style-type: none;
            right:7%;
            padding: 20px;
            /*margin-top:0;*/
            overflow: hidden;
            color: white;
            font-weight: bold;
            /*background-color: rgba(250,250,250,0.5);*/
            width: 100%;
            top: 0;
            position: fixed;
            text-align: right;
            //list-style-type: none;
            vertical-align: middle;
        }

        li {
            float: right;
        
        }

            li a {
                display: block;
                color: #666;
                text-align: right;
                font-size:larger;
                padding: 14px 16px;
                text-decoration: none;
                color:white;
            }

                li a:hover:not(.active) {
                    background-color: rgba(250,250,250,0.5) ;
                    text-decoration:none;
                }

                li a.active {
                    color: white;
                    background-color: #4CAF50;
                    text-decoration:none;
                }

    </style>
</head>
<body>
    @*<img style="position:absolute; top:32px; margin-left:50px;"  class="img-responsive" width="130px" height="55px" src="~/Images/fmslogo_horizontal.jpeg.png" />*@
    
    <ul class=".collapse.navbar-collapse">

        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Login", "Login", "Home")</li>
        <li>@Html.ActionLink("Register", "User_Register", "Home")</li>
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
