@model Food_Medical_Info_System.Models.Dietician
@{
    Layout = "~/Views/Shared/_reg.cshtml";

    ViewBag.Title = "DieticianReg";
}
@ViewBag.Registered
<div class="panel panel-success" style="width:40%">
    <div class="panel-heading text-center"> <h4> Dietician Register</h4> </div>
    <div class="panel-body">
        <form name="f1" method="post" enctype="multipart/form-data">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label>Name :</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label>Email :</label>
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label>Password :</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                <label>Contact No. :</label>
                @Html.TextBoxFor(x => x.Contact, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Contact, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label>Location :</label>
                @Html.TextBoxFor(x => x.Location, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label>Experience :</label>
                @Html.TextBoxFor(x => x.Experience, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Experience, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">

                <input type="file" name="postedFile" id="postedFile" />
            </div>

            <input type="submit" class="btn btn-success" name="upload" value="Submit" />
        </form>
            <script>
                function submitForm() {
                    if (confirm('Are you sure to submit form')) {
                        var frm = document.getElementsByTagName("form");
                        frm[0].submit();
                    }
                }
            </script>


        }



    </div>
</div>